/* alanbbos.css */

body {
   background: black;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

h1 {
   color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
   border-bottom: 1px solid black;
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

label {
	color: white;
	font-weight:bold;
}

#display {
	background-color:#DFDBC3;
	border: 2px solid red; 
	cursor: default;
}

div.explore{
 overflow:auto;
}

.normal_button {
	width: 100px;
}

.footerText {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
   text-align: center;
}

table.taskbar {

	border-width: 1px;
	border-color: red;
	border-collapse: collapse;
}

table.taskbar td {
	background:white;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: black;
}

table.CPUInfo {
	border-width: 1px;
	border-color: red;
	border-collapse: collapse;
}

table.CPUInfo td {
	background:white;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: black;
}

#divMemDisplay
{
	height: 340px;
    width: 375px;
    margin-bottom:5px;
	overflow: auto;
}

table.MemDisplay {
	border-width: 1px;
	border-color: red;
	border-collapse: collapse;
	height: 340px;
    width: 355px;
    margin-bottom:5px;
	overflow: auto;
}

table.MemDisplay td {
	background:white;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: black;
}

#divFSDisplay
{
	height: 340px;
    width: 375px;
    margin-bottom:5px;
	overflow: auto;
}
	
table.FSDisplay {
	border-width: 1px;
	border-color: red;
	border-collapse: collapse;
	height: 340px;
    width: 355px;
    margin-bottom:5px;
	overflow: auto;
}

table.FSDisplay td {
	background:white;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: black;
}

table.ReadyQueue {
	border-width: 1px;
	border-color: red;
	border-collapse: collapse;
}

table.ReadyQueue td {
	background:white;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: black;
}

